/* RESPONSIVE MANU ICON */
@media (max-width:992px){
    
    .nav-bar{
        padding: 6px 0;
    }
    
    .menu-icon{
        display: block;
    }
    .nav-item{
        position: absolute;
        background-color: rgba(235, 229, 229, 0.877);
        width: 80%;
        left: -100%;
        top: 71px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100vh;
        transition: all 0.50s ease-in;
    }
    nav ul li{
        padding: 10px 0;
        margin-left: 4%;
    }
    nav ul li a{
        display: block;
        color: black;
    }

    .nav-item.show{
        left: 0%;
    }

}